/* ---------------- Base ---------------- */
html {
  font-size: 1rem;
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--primary-font);
  background-color: #f8f9fa;
}

/* ---------------- Global ---------------- */
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-white {
  background-color: var(--white-color);
}

.divider {
  margin: 0.5rem 0rem;
  border-bottom: 0.0625rem solid #0000002d;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sections-title span {
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
  position: relative;
  display: block;
  max-width: 22.5rem;
  margin: auto;
}

.sections-title span::before {
  content: "";
  height: 0.125rem;
  width: 7.5rem;
  display: block;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.sections-title span::after {
  content: "";
  height: 0.125rem;
  width: 7.5rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

.sections-title span {
  padding: 0 0.5rem;
  z-index: 10;
}

.sections-title h2 {
  text-transform: capitalize;
  color: var(--dark-color);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.sections-title p {
  color: var(--p-color);
  font-size: var(--p-size);
  text-transform: capitalize;
  line-height: 1.8;
}

.content {
  margin: auto;
  color: var(--white-color);
}

.content h1 {
  font-weight: 700;
}

.content p {
  font-weight: 400;
  line-height: 1.8;
}

.dropdown:hover .dropdown-menu {
  display: block;
  cursor: pointer;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-toggle .fa-chevron-down {
  font-size: 0.75rem;
  vertical-align: middle;
  pointer-events: none;
  margin-left: 0.1875rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: var(--transition);
  text-transform: capitalize;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #0b56c7;
  transform: translateY(-0.1875rem);
  color: var(--white-color);
}

.swiper-pagination-bullet {
  background-color: var(--primary-color);
  height: 0.625rem;
  width: 0.625rem;
}

/* ---------------- Form ---------------- */
.form {
  padding: 1.875rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);
  border-radius: 0.3125rem;
}

.form h3 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.form-control::placeholder {
  color: var(--p-color);
  text-transform: capitalize;
}

form .btn {
  font-size: var(--p-size);
}

form .btn:hover {
  transform: none;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  height: 3rem;
  border-color: var(--border-color);
  color: var(--p-color);
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--dark-color);
  box-shadow: none;
}

.form-select,
.form-select:focus {
  color: var(--p-color);
  box-shadow: none;
  outline: none;
  text-transform: capitalize;
  height: 3rem;
}

.form-select.selected {
  color: var(--dark-color);
}

.form-check-input:focus {
  outline: var(--primary-color);
  box-shadow: none;
}

textarea.form-control {
  height: 6rem;
}

.form-label,
.form-check-label {
  text-transform: capitalize;
  color: var(--title-color);
  font-size: 1rem;
}

.form-control::-webkit-file-upload-button {
  height: 3rem;
}

.form-control::file-selector-button {
  height: 3rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* ---------------- Modal ---------------- */
.header p {
  color: var(--p-color);
  text-transform: capitalize;
}

.model-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../images/banner-img-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  min-height: 30vh;
}

.header {
  display: flex;
  flex-direction: column;
}

.header button {
  justify-content: end;
}

.modal-btn {
  height: 3rem;
  padding: 0 1.5rem;
  background-color: var(--primary-color);
  border-radius: 0.3125rem;
  color: var(--white-color);
  text-transform: capitalize;
  transition: var(--transition);
  font-weight: 300;
}

.modal-btn-2 {
  background-color: transparent;
  border: 0.0625rem solid var(--primary-color);
  color: var(--primary-color);
  transition: var(--transition);
}

.modal-btn:hover {
  background-color: #0b56c7;
}

.modal-btn-2:hover {
  background-color: #0b56c7;
  border-color: #0b56c7;
  color: var(--white-color);
}

/* ---------------- Off-Canvas ---------------- */
.btn-close {
  --bs-btn-close-bg: none;
  background-color: var(--primary-color) !important;
  opacity: 1;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem !important;
  color: var(--white-color) !important;
  border-radius: 0.3125rem;
  transition: var(--transition);
  margin: 0 !important;
}

.btn-close:hover {
  filter: brightness(100%);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}

/* ---------------- Tabs ---------------- */
.nav-pills-custom .nav-link {
  color: var(--title-color);
  background-color: var(--white-color);
  padding: 1.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--title-color);
  text-transform: capitalize;
  text-align: start;
  position: relative;
}

.nav-pills-custom .nav-link .icon {
  margin-right: 0.625rem;
  color: var(--title-color);
}

.nav-pills-custom .nav-link.active {
  color: var(--primary-color);
  background-color: var(--white-color);
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.tab-pane {
  padding: 5rem;
  background-color: var(--white-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
}

.tab-pane h4 {
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.tab-pane p {
  color: var(--p-color);
  line-height: 1.8;
}
